*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
}

.container-full{
    max-width: 1200px;
    margin: auto;
}
.container{
    max-width: 1200px;
    margin: auto;
   
}

header{
    background-color: blue;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
}
.col-1{
    width: calc(20%);
    height: 20px;
    margin-top: 30px;
   

}
.col-2{
    width: calc(50%);
    height: 20px;   
    margin-top: 30px;
    
}
.col-3{
    width: calc(20%);
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.col-4{
    width:calc(50%);
    height: 300px;
    margin:auto;
}
.col-blue{
    height: 320px;
    width:calc(35%);
    margin-top: 40px;
    margin-bottom: 20px;      
}
.col-pink{
    height: 320px;
    width:calc(40%);
    margin-top: 40px;
    margin-bottom: 20px;      
}

.first-item{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section{
    text-align:left;
    padding-right: 150px;
    padding-left: 10px;
    padding-top: 30px;
}

.second-item{
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section{
    text-align:left;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
}

.thrid-item{
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.third-section{
    text-align:left;
    padding-right: 150px;
    padding-left: 50px;
    padding-top: 30px;
}
.fourth-item{
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-section{
    justify-content: center;
    text-align: center;
    padding: 100px 100px 5px 100px;
    height: 20px;
}

.col-green{
    height: 500px;
    width:calc(75%);
}

.col-darkpink{
    background-color: rgb(223, 32, 149);
    height: 350px;
    width:calc(18%);
    margin-top: 10px;

}
.col-lightblue{
    background-color: rgb(32, 217, 223);
    height: 350px;
    width:calc(8%);
    margin-top: 10px;
    border: 1px dashed white;

}

.col-lightblue-2{
    background-color: rgb(32, 217, 223);
    height: 60px;
    width:calc(50%);
    margin-top: 10px;
    border: 1px dashed white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;

}
.content-inf{
    padding: 20px 20px;
    color: white;
    font-weight: 30px;
    text-align:center;
}
.open-discord{
    display: flex;
    justify-content: center;
    
}

#download{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}
#open{
    background-color:black;
    color: white;
    border-radius:20px;
    padding: 10px;
    margin: 10px;
}
#darr{
    margin: 5px;
    

}
#main-menu{
    list-style-type: none;
    gap: 50px;
    display: flex;
    
}

.st-login{
    background-color: white;
    border-radius: 20%;
    padding: 5px;
    color: black;
}

a{
    color: white;
    text-decoration: none;
}

.row-blue{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    
}
.row-white{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(252, 252, 252);
    height: 400px;
    justify-content:center;
   
}

.row-grey{
     display: flex;
    flex-wrap: wrap;
    background-color:rgb(238, 228, 228);
    height: 400px;
    justify-content:center;
}
.row-grey-2{
    display: flex;
   flex-wrap: wrap;
   background-color:rgb(238, 228, 228);
   height: 900px;
   justify-content:center;
}
.row-darkgrey{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(90, 75, 75);
    height: 400px;
    justify-content:center;
}
.row-darkgrey-2{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(90, 75, 75);
    height: 90px;
    justify-content: center;
    align-content: flex-end;

}

hr{
   background-color: white;
   height: 2px;
}

.bottone-logo{
    height: 20px;
    width: 60px;
    border: dashed black 1px;
    background-color: pink;
    
}

